node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.example
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
coverage
.nyc_output
.jest
test
.env.local
.env.*.local
.npmrc
.yarn
.yarnrc
pnpm-lock.yaml
yarn.lock
lerna.json
.github
scripts/deploy.sh
docker-compose.yml
.dockerignore
Dockerfile*
